html, body {
  height: 100%;
  margin: 0;
  position: relative; /* Set position relative for absolute positioning */
 }
 
 .container {
  position: absolute;
  top: 10px; /* Adjust the top position */
  left: 10px; /* Adjust the left position */
 }
 
 .button-container {
  text-align: center;
 }
 
 .buttonh {
  width: 200px; /* Set the width to create a square shape */
  height: 200px; /* Set the height to create a square shape */
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  line-height: 200px; /* Center the text vertically */
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px; /* Adjusted font size */
  font-weight: bold; /* Make the text bold */
  border-radius: 0; /* Removes rounded corners */
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3); /* Adds a shadow effect */
 }
 
 .buttonh:hover {
  background-color: #e0e0e0; /* Lighter background color on hover */
 }
 
 .logout {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150px; /* Set the width */
  height: 40px; /* Set the height */
  border: 10px solid #ccc;
  background-color: #f00; /* Red background color for logout button */
  color: #fff; /* White text color for logout button */
  text-align: center;
  line-height: 4px; /* Center the text vertically */
  text-decoration: none;
  cursor: pointer;
  font-size: 16px; /* Adjusted font size */
  font-weight: bold; /* Make the text bold */
  border-radius: 0; /* Removes rounded corners */
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3); /* Adds a shadow effect */
 }
 
 .logout:hover {
  background-color: #d00; /* Darker red color on hover */
 }